#front-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
}
.main-container {
    width: 80%;
    height: 70vh;
    display: flex;
    border: 1px solid grey;
    position: relative;
}

.left-side-container {
    position: relative;
    width: 100%;
    height: 100%;
    align-content: center;
    margin: 0 5em 0 5em;

        h2 {
            text-align: center;
            margin-bottom: 2em;
        }

            fieldset {
                border: none;
                display: flex;
                flex-direction: column;
                padding: 10px 10px;
                position: relative;
                width: 100%;

                label {
                    width: 100%;
                    margin: 5px 5px;
                }

                input {
                    width: 100%;
                    padding: 10px 5px;
                    margin: 5px 5px;
                    border-radius: 5px;
                    border: 1px solid grey;
                }

                .term {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    margin: 10px 0 0 5px;

                    input {
                        margin: 0;
                        padding: 0;
                        font-size: 13px;
                        width: 1em;
                    }

                    label {
                        font-size: 12px;

                        a {
                            border-bottom: 1px solid black;
                        }
                    }
                }

                button {
                    width: 100%;
                    padding: 3px 5px;
                    font-size: 16px;
                    margin-top: 2em;
                    padding: 1em 1em;
                    border-radius: 5px;
                    border: none;
                    cursor: pointer;
                    letter-spacing: 1.3px;
                }
            }
}

.right-side-container {
    border: 1px solid brown;
    width: 100%;
    height: 100%;
}