main {
  width: 100%;
  height: 100vh;
  display: flex;
  background: url("../../images/a_gatta/hero__top-bg.webp") center center/cover
    fixed;
  z-index: -999;
  position: relative;

  .hero__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    top: 0;
    bottom: 0;
    position: relative;
  }

  .hero__head {
    width: 30%;
    height: 65vh;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 3rem 3rem;
    position: relative;
  }

  .hero__head-top {
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
    background-image: var(--main-gradient-color);
  }

  .hero__head-items {
    position: relative;
    margin-top: 2em;

    h2 {
      font-size: 72px;
    }
  }
  .hero__head-contact {
    margin-top: 2rem;
    width: 15em;
    height: 5em;
    background-image: var(--main-gradient-color);
    color: var(--text-main-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
}
