main {
    width: 100%;
    height: 100vh;
    border: 1px solid orange;

    .hero {
        background: var(--main-background-color);
        width: 100%;
        height: 100%;
        opacity: 0.3;
    }
}