main {
    width: 100%;
    height: 100vh;

    .hero {
        background: url('')center center/cover;
        width: 100%;
        height: 100%;
        border: 1px solid red;
    }
/* 
    .hero__head {
        width: 30rem;
        height: 40rem;
        background-color: aliceblue;
    } */
}