footer {
    display: flex;
    width: 100%;
    position: relative;

    .main-container {
        min-width: 100%;
        position: relative;
    }

    .list-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        border: 1px solid orange;

        .list-item {
            margin-bottom: 1rem;
            border: 1px solid blue;
            min-width: 20vw;
            min-height: 100px;
            margin-right: 1rem;
            padding: 5px 5px;
        }
        
    .logo > h2 {
        font-size: 2.5vw;
        text-align: center;
        font-family: 'Rock_Salt';
        background: linear-gradient(
            135deg,
            #FFFFFF 0%,   /* Start with White */
            #1C0B40 25%,   /* Transition to Deep Navy/Indigo */
            #4C1456 50%,   /* Original Mid-point color */
            #B30E4D 75%,   /* Transition from Vibrant Magenta/Crimson */
            #FFFFFF 100%   /* End with White */
            );
        background-size: 400% 400%;
        background-clip: text;
        color: transparent;
        animation: animate 3s linear infinite;
    }

    .contact > p > span > img {
        display: inline;
        vertical-align: middle;
    }
    }

    .list-container > .office-list {
        font-size: 2.5vw;
        align-content: center;
    }

    .font-blue {
        color: #2854C5;
    }
}