header {
    display: flex;
    position: relative;
    padding: 0 10px;

    nav {
        width: 100%;
        position: fixed;


        ul {
            display: flex;
            height: 100%;
            cursor: pointer;
        }

        li:first-child {
            margin-right: auto;
            position: relative;

            img {
                width: 25em;
                height: 100%;
                padding: 5px 10px;
            }
        }

        li:last-child {
            border: 1px solid red;
            width: 18em;
            background: linear-gradient(to right, #c91b2d, #270564);
            border-radius: 5px;
            border: none;
        }

        li {
            list-style: none;
            width: 10em;
            height: 5em;
            align-content: center;
            text-align: center;
            transition: 0.2s ease;
        }

        li:hover {
            background-color: linear-gradient(to right, #c91b2d, #270564);
        }
    }
}